/* =============== BODY ================== */

body {

background-color:#eeeeee;

}



/* =============== WRAPPER ================== */

#wrapper {

width: 930px;
margin-left: auto;
margin-right: auto;
position: relative;

padding:7px;

background-color:#ffffff;


box-shadow: 12px 0 15px -4px rgba(187, 187, 187, 0.5), -12px 0 8px -4px rgba(187, 187, 187, 0.5);

-moz-box-shadow: 12px 0 15px -4px rgba(187, 187, 187, 0.5), -12px 0 8px -4px rgba(187, 187, 187, 0.5);

-webkit-box-shadow: 12px 0 15px -4px rgba(187, 187, 187, 0.5), -12px 0 8px -4px rgba(187, 187, 187, 0.5);

}



/* =============== HEADER ================== */

#container {

display:block;
width:800px;
text-align:center;
margin-left: auto;
margin-right: auto;

}


#headerimage {

display:block;

width:800px;

height:145px;


    	box-shadow: 0px 3px 3px -1px rgba(119, 119, 119, 0.7);

-webkit-box-shadow: 0px 3px 3px -1px rgba(119, 119, 119, 0.7);

   -moz-box-shadow: 0px 3px 3px -1px rgba(119, 119, 119, 0.7);


}


#image {

border-radius:7px 7px 0px 0px;

}



h1#title {

display:block;
width:800px;
margin-top: 2px;
margin-bottom: 0px;
font-size:18px;
color:#406099;
font-style:italic;
font-family:times;
font-weight:bold;
letter-spacing:10px;

text-shadow:#cccccc 0.1em 0.1em 0.2em;

}



/* =============== FOOTER ================== */



.footer {

font-style:italic;
font-family:times;
font-weight:bold;
text-align:center;
width:800px;
margin-left: auto;
margin-right: auto;

	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 

background: -ms-linear-gradient(#efefef, #bbbbbb);/*For IE10*/
filter: 
progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#efefef', endColorstr='#bbbbbb');/*For IE7-8-9*/ 


	padding: 1 0px;
	border-radius: 20px;  


        box-shadow: 0px 3px 7px 0px rgba(119, 119, 119, 0.18);

-webkit-box-shadow: 0px 3px 7px 0px rgba(119, 119, 119,0.18);

   -moz-box-shadow: 0px 3px 7px 0px rgba(119, 119, 119, 0.18);

cursor:pointer;

}



/* =============== NAVBAR ================== */


/* Main menu */
    

#menu
{
	width: 800px;
	margin: 0;
	padding: 0 0 0 0;
	list-style: none;  
	background: #5370A3;
	background: -moz-linear-gradient(#2D436B, #5370A3); 
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #5370A3),color-stop(1, #2D436B));	
	background: -webkit-linear-gradient(#2D436B, #5370A3);	
	background: -o-linear-gradient(#2D436B, #5370A3);
	background: -ms-linear-gradient(#2D436B, #5370A3);

	background: linear-gradient(#2D436B, #5370A3);


	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;


			box-shadow: 0 2px 3px #9c9c9c;	
	-webkit-box-shadow: 0 2px 3px #9c9c9c;
       -moz-box-shadow: 0 2px 3px #9c9c9c;

}


#menu li
{
	float: left;
	padding: 0 10 10 0;
	padding: 5 0 5 0; /* center alignment */
	position: relative;
	line-height: 0;
}

#menu a 
{
	float: left;
	height: 25px;
	padding: 0 25px;
	color: #D9DFEB;
	font: bold 13px/25px arial, Helvetica;
	text-decoration: none;

/* text-shadow: 0 1px 0 #000; */

text-shadow:#444 0.1em 0.1em .2em; 

}


/*sub menu text color with and without hover - my code to the original one */

ul#menu li ul.submenu li a {color: #dddddd;}

ul#menu li ul.submenu li:hover > a {color: #FFffff;}

/* my code ends */



#menu li:hover > a
{
	color: #FFffff;
}

*html #menu li a:hover /* IE6 */
{
	color: #FF9900;
}

#menu li:hover > ul
{
	display: block;
}

/* Sub-menu */

#menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;    
    background: #666;
    background: -moz-linear-gradient(#666, #333);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #333),color-stop(1, #666));
    background: -webkit-linear-gradient(#666, #333);    
    background: -o-linear-gradient(#666, #333);	
    background: -ms-linear-gradient(#666, #333);	
    background: linear-gradient(#666, #333);
    -moz-box-shadow: 0 0 2px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 2px rgba(255,255,255,.5);
    box-shadow: 0 0 2px rgba(255,255,255,.5);	
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu ul ul
{
  top: 0;
  left: 150px;
}

#menu ul li
{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child
{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

#menu ul a
{    
    padding: 10px;
	height: 10px;
	width: 130px;
	height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
	text-transform: none;
}

*html #menu ul a /* IE6 */
{    
	height: 10px;
}

*:first-child+html #menu ul a /* IE7 */
{    
	height: 10px;
}

#menu ul a:hover
{
    background: #0186ba;
	background: -moz-linear-gradient(#04acec,  #0186ba);	
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
	background: -webkit-linear-gradient(#04acec,  #0186ba);
	background: -o-linear-gradient(#04acec,  #0186ba);
	background: -ms-linear-gradient(#04acec,  #0186ba);
	background: linear-gradient(#04acec,  #0186ba);
}

#menu ul li:first-child > a
{
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child > a:after
{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul ul li:first-child a:after
{
    left: -8px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 0;	
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 8px solid #444;
}

#menu ul li:first-child a:hover:after
{
    border-bottom-color: #04acec; 
}

#menu ul ul li:first-child a:hover:after
{
    border-right-color: #04acec; 
    border-bottom-color: transparent; 	
}


#menu ul li:last-child > a
{
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#menu:after 
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */



/* =============== NAVBAR SEARCH ==================== */

.searchbox {

border:none; 
height:18px;
background: #D5D9E1;
border-radius:20px;
-moz-border-radius:20px;
-webkit-border-radius:20px;
margin-top:0px;
margin-bottom:0px;

}
   


#textbox { 

border:0px solid;
height:16px;
width: 120px;
border-radius:20px;
-moz-border-radius:20px;
-webkit-border-radius:20px;
background:#D5D9E1;
outline:none;

margin-left:2px;
padding: 3px 0px 0px 10px; 

font: bold 13px arial;
font-style:italic; 
color: #2D436B;

}



#submitimg { 

background: url(https://www.theairlinepilots.com/pics/nosearch.png) no-repeat;

border:1px solid;
border-color:#D5D9E1;
width:0px;
height:0px;
outline:none;

//cursor:pointer;

margin-right:10px;

}


@-moz-document url-prefix() {

#submitimg {

background-image: url(https://www.theairlinepilots.com/pics/search.png); 

margin-top: 1px;
   
}

}



::-webkit-input-placeholder {color: #808080;}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #808080;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #808080;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #808080;
}




/* =============== TABS ================== */


#tabs {
  overflow: hidden;
  width: 100%;
  margin: 0;
 // padding-top: 1px;
  list-style: none;
}

#tabs li {
  float: left;
  margin: 0 .5em 0 0;
}


#tabs a {
  position: relative;
  background: #ddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  background-image: -webkit-linear-gradient(top, #fff, #ddd);
  background-image: -moz-linear-gradient(top, #fff, #ddd);
  background-image: -ms-linear-gradient(top, #fff, #ddd);
  background-image: -o-linear-gradient(top, #fff, #ddd);
  background-image: linear-gradient(to bottom, #fff, #ddd);  
  padding: .3em 2.0em;
  float: left;
  text-decoration: none;
  color: #444;
/*text-shadow: 0 1px 0 rgba(255,255,255,.8); */
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,.4);
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.4);
  box-shadow: 0 2px 2px rgba(0,0,0,.4);

font-family:times;
font-style:italic;

}

#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after {
  background: #fff;
}

#tabs a:focus {
  outline: 0;
}

#tabs a::after {
  content:'';
  position:absolute;
  z-index: 1;
  top: 0;
  right: -.5em;  
  bottom: 0;
  width: 1em;
  background: #ddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  background-image: -webkit-linear-gradient(top, #fff, #ddd);
  background-image: -moz-linear-gradient(top, #fff, #ddd);
  background-image: -ms-linear-gradient(top, #fff, #ddd);
  background-image: -o-linear-gradient(top, #fff, #ddd);
  background-image: linear-gradient(to bottom, #fff, #ddd);  
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.4);
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.4);
  box-shadow: 2px 2px 2px rgba(0,0,0,.4);
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;  
}


#tabs #current a {

  background: #FFD633;
  
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFE680), to(#FFD633));

  background-image: -webkit-linear-gradient(top, #ffe680, #FFD633);

  background-image: -webkit-linear-gradient(top, #ffe680, #FFD633);
  background-image: -moz-linear-gradient(top, #ffe680, #FFD633);
  background-image: -ms-linear-gradient(top, #ffe680, #FFD633);
  background-image: -o-linear-gradient(top, #ffe680, #FFD633);
  background-image: linear-gradient(to bottom, #ffe680, #FFD633);

z-index: 3;

}



#tabs #current a::after {

  background: #FFD633;
  
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFE680), to(#FFD633));

  background-image: -webkit-linear-gradient(top, #ffe680, #FFD633);

  background-image: -webkit-linear-gradient(top, #ffe680, #FFD633);
  background-image: -moz-linear-gradient(top, #ffe680, #FFD633);
  background-image: -ms-linear-gradient(top, #ffe680, #FFD633);
  background-image: -o-linear-gradient(top, #ffe680, #FFD633);
  background-image: linear-gradient(to bottom, #ffe680, #FFD633);

  z-index: 3;
}

/* ------------------------------------------------- */

#content_tabs {
    background: #fff;
padding: 2em;
    
    position: relative;
    z-index: 2;	

	        box-shadow: 0 -2px 2px -2px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 -2px 2px -2px rgba(0, 0, 0, .5);
    
-moz-box-shadow: 0 -2px 2px -2px rgba(0, 0, 0, .5);



/*
-moz-box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);

   
*/

}


/* ------------------------------------------------- */


#all_tab_center {
display:table;
margin-left: auto;
margin-right: auto;
width:800px;
}





/* =============== ABOUT PAGE ================== */

.prefaceouter {

border-radius:5px;

background: #C0C7D3;

background: linear-gradient(top, #C0C7D3 0%, #EAECF0  100%);

background: -moz-linear-gradient(top, #C0C7D3 0%, #EAECF0 100%);

background: -webkit-linear-gradient(top, #C0C7D3 0%, #EAECF0 100%);

background: -ms-linear-gradient(#C0C7D3, #EAECF0);/*For IE10*/
filter: 
progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#C0C7D3', endColorstr='#EAECF0');/*For IE7-8-9*/ 
 
width: 700px;

display:table;

box-shadow: 3px 3px 10px #dddddd;


/* following is the box shadow code for old ie browsers. however u have to enclose everything in another div container otherwise it messes up the contents 

zoom: 1;


filter:
                    progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=90,strength=10),
              progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=180,strength=10);

*/

}


.prefaceinner {

margin: 10px;

font-family:arial;

font-size:12.5px;

text-align:justify;

}








.contentouter {

border-radius:5px;

width: 700px;

background-color:#f4f4f4;

display:table;



	    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.2);

-webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.2);

   -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.2);



//box-shadow: 3px 3px 10px #dddddd;


/* following is the box shadow code for old ie browsers. however u have to enclose everything in another div container otherwise it messes up the contents 

zoom: 1;


filter:
                    progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=90,strength=10),
              progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=180,strength=10);

*/

}


.contentinner {

margin: 20px 20px 20px 50px;

font-family:arial;

font-size:12.5px;

text-align:justify;

}



#contentheadings {

float: left;
width: 600px;
color: #24476B;
font-weight:bold;
font-size:20px;
font-style:italic; 
font-family:times;
text-align:center;
letter-spacing:3px;
border-radius:1px;
border-top:solid 1px;
border-bottom:solid 1px;
margin-top:5px;
margin-bottom:10px;
}


#content-subheadings {

float: left;
width: 250px;
background: #D3D8E0;
//background-color:#E3E3FF;
color: #24476B;
font-weight:bold;
font-size:15px;
font-style:italic; 
font-family:times;
letter-spacing:2px;
border-radius:10px;
padding-left:10px;
}


/* =============== FORMS OUTER BOX ================== */

.outerbox {

display:block;

border-radius:10px;

background: #96A1B5;

background: linear-gradient(top, #96A1B5 0%, #D5D9E1  100%);

background: -moz-linear-gradient(top, #96A1B5 0%, #D5D9E1 100%);

background: -webkit-linear-gradient(top, #96A1B5 0%, #D5D9E1 100%);

background: -ms-linear-gradient(#96A1B5, #D5D9E1);/*For IE10*/

filter: 
progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#96A1B5', endColorstr='#D5D9E1');/*For IE7-8-9*/ 

 
		box-shadow: 3px 3px 25px 1px rgba(119, 119, 119, 0.3);

-webkit-box-shadow: 3px 3px 25px 1px rgba(119, 119, 119, 0.3);

   -moz-box-shadow: 3px 3px 25px 1px rgba(119, 119, 119, 0.3);

text-shadow:#909090 0.1em 0.1em 0.1em;


margin-top:30px;

padding-top:5px;

text-align:center;
font-weight:bold;
font-family:times;
font-style:italic;
font-size:20px;
color: #000060;

}




/* =============== FORMS INNER BOX ================== */


.innerbox {

display:block;

background: #d7d7d7;

background: linear-gradient(top, #d7d7d7 0%, #efefef  100%);

background: -moz-linear-gradient(top, #d7d7d7 0%, #efefef 100%);

background: -webkit-linear-gradient(top, #d7d7d7 0%, #efefef 100%);

background: -ms-linear-gradient(#d7d7d7, #efefef);/*For IE10*/

filter: 
progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d7d7d7', endColorstr='#efefef');/*For IE7-8-9*/ 

border-radius:0px 0px 10px 10px;

text-shadow:#bbbbbb 0.1em 0.1em 0.2em;

padding:1px 10px 1px 10px; 

margin-top:5px;

/*
margin-bottom:15px;
margin-left:10px;
margin-right:10px;
*/

}



/* =============== SUBMIT BUTTON ================== */


#mysubmit {

font-weight:bold;
font-family:arial;
font-style:italic;
color: #505050;
padding-left:5px;
padding-right:5px;
padding-top:0px;
padding-bottom:0px;
}


/* =============== SELECT OPTIONS ================== */


select {

color: #2D436B;
font-family:arial;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;

}




/* =============== FORM TEXT ================== */


#text1 {

font-weight:bold;
font-family:arial;
font-style:normal;
color: #556677;
font-size:.9em;
}



#text2 {

font-family:arial;
font-style:normal;
color: #445566;
font-size:0.8em;
}



/* =============== DIV CONTAINING LINKS ================== */

.linkdiv {

display:table;

margin-top:20px;

text-align:center;

}


/* =============== LINKS ================== */


a#links {

font-weight:bold;
font-family:arial;
font-style:italic;
font-size:18px;
text-shadow:#cccccc 0.1em 0.1em 0.2em;
text-decoration:none;
letter-spacing:1px;

}

a#links:link {
color: #41567B;
}


a#links:visited {
color: #41567B;
}


a#links:hover {
color: #ff0000;
}


a#links:active {
color: #41567B;
}


#linkbullet {
color: #41567B;
}


/* =============== link 1 ================== */

#link1 {
text-decoration:none;
}

#link1 {
color: #406099;
}

#link1:active {
color: #406099;
}

#link1:hover {
color: #406099;
}

#link1:visited {
color: #406099;
}



/* =============== H1 TAGS ================== */



h1#footertitle {

font-size:12px;
font-style:italic;
font-family:times;
letter-spacing: 8px;
color:#858585;
text-shadow:#aaaaaa 0.1em 0.1em 0.1em;
text-decoration:none;
margin:0px;

}



h1#sectiontitle {
//color: #3A4D6F;
color: #800000;
font-weight:bold;
font-family:arial;
font-style:italic;
font-size:18px;
text-shadow:#cccccc 0.1em 0.1em 0.2em;
text-decoration:none;
letter-spacing:1px;
margin-top:10px;

}


/*
h1#linktitle {

font-weight:bold;
font-family:arial;
font-style:italic;
font-size:18px;
text-shadow:#cccccc 0.1em 0.1em 0.2em;
text-decoration:none;
letter-spacing:1px;

}
*/


/* =============== ICAO LOCATIONS ================== */


#icaoloc input[type="text"]:focus {
color: #2D436B;
font-family:arial;
border-radius: 5px;
}


input.textbox {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;

border: 1px solid;
border-color: #bbbbbb; 

}



/* =============== CONTACT FORM ================== */

#label {

font-weight:bold;
font-family:times;
font-style:italic;
font-size:18px;
color: #505050;

text-shadow:#bbbbbb 0.1em 0.1em 0.1em;

}


#inputsize {

width:18em;
}


/* =============== SECTION / PAGE TEXT ================== */


#sectiontext1 {
color: #41567B;
font-weight:bold;
font-family:arial;
font-style:italic;
font-size:16px;
text-shadow:#cccccc 0.1em 0.1em 0.2em;
text-decoration:none;
letter-spacing:1px;
margin-top:10px;











